*{
    box-sizing: border-box;
    font-size: larger;
}

body {
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
    width: 25rem;
}

input {
    flex: 1 1 auto;
    background-color: rgb(202, 153, 46);
    text-align: end;
}

.buttons {
    display: flex;
    flex: 1 1 auto;
}

.operator {
    background-color: darkslategray;
}

.clear {
    background-color: rgb(220, 20, 20);
}

.backspace {
    width: 54rem;

}

.container {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 450px;
    height: 600px;
    max-width: 95vw;
    max-height: 100vh;

    border: 1px solid black;
    justify-items: flex-start;
    background-color: rgb(19, 18, 18);
    padding: .5rem;
}

.output-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}

.output {
    font-size: x-large;
    height: 1em;
    flex: 0 0 auto;
    margin: 0%;
    padding: 0%;
    color: blanchedalmond;
}