*{
    box-sizing: border-box;
    font-size: larger;
}

button {
    /* flex: 1 1 auto; */
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

input {
    flex: 1 1 auto;
    height: 50px;
    background-color: rgb(202, 153, 46);
    text-align: end;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

.operator {
    background-color: darkslategray;
}

.clear {
    background-color: rgb(220, 20, 20);
}

.container {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    width: 450px;
    height: 600px;
    border: 1px solid black;
    justify-items: flex-start;
    background-color: rgb(19, 18, 18);
    padding: .5rem;
}

.output-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
}

.output {
    font-size: x-large;
    /* min-height: 1em; */
    height: 1em;
    flex: 0 0 auto;
    margin: 0%;
    padding: 0%;
    color: blanchedalmond;
}